.card {
    width: 40%;
    height: 15rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, .2);
    margin-top: 5rem;
    display: flex;
}

@media screen and (max-width: 1200px) {
    .card {
        width: 50%;
    }
}

@media screen and (max-width: 991px) {
    .card {
        width: 65%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 90%;
        flex-direction: column;
        height: auto;
    }
}

