.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    padding: .6rem;
    background-color: rgba(22, 22, 22, 0.822);
    text-align: center;
}

.detail {
    color: #fff;
}

.designer {
    color: #F0A500;
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    .footer {
        padding: .3rem;
        font-size: .9rem;
    }
}